h1 {
	font-size: 40px;
	font-weight: 800;
	color: #696969;
	text-align: center;
	padding: 30px;
}

.box{
    width:150px;
    height:150px;
}

.vert{
    border-left:4px solid #696969;
    border-right:4px solid #696969;
}

.hori{
    border-top:4px solid #696969;
    border-bottom:4px solid #696969;
}

.x {
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
}

.o {
  background-color: #696969;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
}

#clearBoardButton {
	margin: 0 auto;
	display: block;
	width: 30%;
    padding: 10px;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
	background-color: #000000;
	border-radius: 10px;
}